{{ partial "header.html" . }}

<article dir="{{.Params.Direction}}" class="py-16">
    <header class="mb-12">
        <h1 class="font-bold leading-tight mb-4 text-stone-900 dark:text-stone-100" style="font-size: 35px;">
            {{ .Title }}
        </h1>
        <p class="text-stone-600 dark:text-stone-400 text-xs">
            {{ .Date.Format "January 2, 2006" }} · {{ .ReadingTime }} minute read
        </p>
    </header>

    {{ if .Params.Cover }}
    <div class="mb-12">
        <img src="{{ .Params.Cover }}" class="w-full h-80 object-cover rounded-lg" alt="{{.Title}}">
    </div>
    {{ end }}

    {{ partial "toc.html" . }}

    <div class="prose prose-stone dark:prose-invert max-w-none text-sm">
        {{ .Content }}
    </div>

    {{ if .Params.tags }}
    <footer class="mt-16 pt-8 border-t border-stone-200 dark:border-stone-700">
        <div class="flex flex-wrap gap-2">
            {{ range .Params.tags }}
            <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" 
               class="text-stone-600 dark:text-stone-400 hover-custom underline transition-colors">
                {{ . }}
            </a>
            {{ end }}
        </div>
    </footer>
    {{ end }}
</article>



{{ partial "footer.html" . }}