<header class="w-full py-8 px-4">
  <nav class="container mx-auto max-w-prose flex items-center justify-between">
    <div class="flex items-center space-x-8 space-x-reverse">
      <a class="text-2xl font-bold text-stone-900 dark:text-stone-100 hover-custom transition-colors" 
         href="{{ .Site.BaseURL }}">
        {{ .Site.Title }}
      </a>
      <ul class="flex items-center space-x-6 space-x-reverse">
        {{ range .Site.Menus.main }}
        <li>
          <a class="text-stone-700 dark:text-stone-300 hover-custom transition-colors text-lg" 
             href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
    <button aria-label="theme-toggle" id="toggle-theme" 
            class="text-stone-700 dark:text-stone-300 hover-custom transition-colors">
      {{ partial "partials/icons/moon.html" .}}
      {{ partial "partials/icons/sun.html" .}}
    </button>
  </nav>
</header>